body{
    background-color: rgb(241,237,238);
}
h1 {
font-family: 'Times New Roman', Times, serif;
}
.descricao{
    font-family: Arial, Helvetica, sans-serif;

}
.elemento5 {
    font-size: 15px;
}
.elemento4 {
    font-size: 1.2em;
}
.elemento3 {
    font-size: 1.3em;
}
.elemento2 {
    font-size: 1.4em;
}
.elemento1 {
    font-size: 1.5em;
}