* {
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(233,237,201);
}
h1 {
font-family: 'Times New Roman', Times, serif;
}
.descricao{
    font-family: Arial, Helvetica, sans-serif;

}


.elemento4 {
    font-size: 20px;
}
.elemento3 {
    font-size: 1.3em;
}
.elemento2 {
    font-size: 1.4em;
}
.elemento1 {
    font-size: 1.6em;
}
.header {
    padding: 40px 70px 30px 30px
}
.titulo {
    margin-bottom: 20px;
    text-align: center;
}
.apresentacao-left {
    display: inline-block;
    vertical-align: top;
    padding: 30px ;
    background-color: rgb(254, 250, 224);
    
}
.apresentacao-right {
    min-width: auto;
    width: 15%;
    display: inline-block;
    vertical-align: top;;
    padding-left: 15px;
}
.lista li {
    margin-bottom: 10px;
    padding: 10px 50px
}

.blog {
    font-size: 22px;
    margin-bottom: 10px;
    padding: 50px
}
.titulos-secundarios {
    padding: 20px;
    text-align: center;
}
.textos p {
    width: auto;
    text-align: center;
    padding: 10px;
    
}